<!DOCTYPE html>
<html>

<head>
  <title>BKB Overzicht</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

  <div id="app">
    <div class="card-panel teal lighten-2" style="margin-top:0">
      <div class="card-panel">
        <h2> Gezopen lijst 🍻</h2>
        <table>
          <tr>
            <th> Naam </th>
            <th> Volledig </th>
            <th> Half </th>
            <th> Kort </th>
            <th> Kosten </th>
            <th> Betaald </th>
            <th> Totaal </th>
          </tr>
          <tr v-for="drinker in drinkers" v-if="drinker.Totaal.replace('€','').replace(',','.') > 0">
            <td>{{drinker.naam}}</td>
            <td>{{drinker.Vol}}</td>
            <td>{{drinker.Half}}</td>
            <td>{{drinker.Kort}}</td>
            <td>{{drinker.Kosten}}</td>
            <td>{{drinker.Betaald}}</td>
            <td>{{drinker.Totaal}}</td>
          </tr>
        </table>
      </div>
      <h6 class="center-align" style="color:white">Sta je niet in de lijst? Dan wordt het gauw tijd dat je weer langs komt want, je hebt geen openstaande kosten! 🍻</h6>
    </div>
    <div class="container">
      <h6 class="center-align"> Betalen kan op het volgende rekening nummer: </h6>
      <h3 class=" center-align card panel teal lighten-2" style="color: white"> NL 92 SNSB 0948 1196 67 </h2>
      <h6 class="center-align">
        Wanneer je geld op onze rekening staat wijzigen we de spreadsheet.
        <br>
        Je hoeft dus niet te appen om te vragen of je geld er al op staat 😉.</h6>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="main.js"></script>
  <script src="sheet.js"></script>

</html>
