<!DOCTYPE html>
<html>

<head>
  <title>BKB Overzicht</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <h1 class="center-align"> BierKlinkersBarlo </h1>
  <div id="app">
    <div class="card-panel teal lighten-2" style="margin-top:0">
      <div class="card-panel">
        <h2> Gezopen lijst 🍻</h2>
        <table v-if="totalen.totaal > 0">
          <tr>
            <th> Naam </th>
            <th> Volledig </th>
            <th> Half </th>
            <th> Kort </th>
            <th> Kosten </th>
            <th> Betaald </th>
            <th> Totaal </th>
          </tr>
          <tr v-for="drinker in drinkers" v-if="isLoading != true && drinker.totaal > 0">
            <td>{{drinker.naam.replace('.', '')}}</td>
            <td>{{drinker.aanwezig.vol}}</td>
            <td>{{drinker.aanwezig.half}}</td>
            <td>{{drinker.aanwezig.kort}}</td>
            <td>€{{drinker.kosten.toFixed(2)}}</td>
            <td>€{{drinker.betaald.toFixed(2)}}</td>
            <td>€{{drinker.totaal.toFixed(2)}}</td>
          </tr>
          <tr>
            <th> Totaal </th>
            <th> {{totalen.vol}} </th>
            <th> {{totalen.half}} </th>
            <th> {{totalen.kort}} </th>
            <th>€{{totalen.kosten.toFixed(2)}} </th>
            <th>€{{totalen.betaald.toFixed(2)}} </th>
            <th>€{{totalen.totaal.toFixed(2)}} </th>
          </tr>
        </table>
        <div class="center-align" v-else-if="isLoading != true">
          <h4> Niemand is geld verschuldigt 😭<br> Dit kan echt niet, snel weer harken dus! </h4>
          <div class="tenor-gif-embed" data-postid="3575784" data-share-method="host" data-width="100%" data-aspect-ratio="1.775"><a href="https://tenor.com/view/rake-leaves-wreckingball-gif-3575784">Raking Ball GIF</a> from <a
              href="https://tenor.com/search/rake-gifs">Rake GIFs</a></div>
          <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        </div>
      </div>
      <h6 class="center-align" style="color:white" v-if="totalen.totaal > 0">Sta je niet in de lijst? Dan wordt het gauw tijd dat je weer langs komt want, je hebt geen openstaande kosten! 🍻</h6>
    </div>
    <div class="container">
      <h6 class="center-align"> Betalen kan op het volgende rekening nummer: </h6>
      <h3 class=" center-align card panel teal lighten-2" style="color: white"> NL 92 SNSB 0948 1196 67 </h2>
        <h6 class="center-align">
          Wanneer je geld op onze rekening staat wijzigen we de spreadsheet.
          <br>
          Je hoeft dus niet te appen om te vragen of je geld er al op staat 😉.</h6>
        <br>
    </div>
    <div class="card-panel teal lighten-2">
      <div class="card-panel">
        <h2>Terugbetalen 💰</h2>
        <table v-if="credEmpty == false">
          <tr>
            <th> Naam </th>
            <th> Bedrag </th>
            <th> Reden </th>
          </tr>
          <tr v-for="crediteur in terugbetalen" v-if="crediteur.info.betaald == null">
            <td> {{crediteur.info.naam}} </td>
            <td>{{crediteur.info.bedrag.replace(',','.')}}</td>
            <td> {{crediteur.info.reden}} </td>
          </tr>
        </table>
        <h4 v-else>Iedereen is terugbetaald!</h4>
      </div>
      <h6 class="center-align" style="color:white">Sta je niet in de lijst? Dan hebben we je alles terugbetaald, het kan 2 dagen duren voordat je het hebt. <br> Heb je na 2 dagen nog niks en je denkt dat we je nog geld verschuldigt zijn, app ons dan.
      </h6>
    </div>
  </div>
  <div class="card-panel teal lighten-2">
    <div class="card-panel">
      <h2> Officiële BKB afspeellijst </h2>
      <iframe src="https://open.spotify.com/embed/user/gijsmentink/playlist/52QaSIZ5mE3SakxscOJK3Y" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="card-panel">
      <h2> The Place 2 Be </h2>
      <div class="mapouter">
        <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Farm%20olde%20nijhof&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0"></iframe><a href="https://www.emojilib.com"></a></div>
        <style>
          .mapouter {
            position: relative;
            text-align: right;
            height: 500px;
            width: 100%;
          }

          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 500px;
            width: 100%;
          }
        </style>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="main.js"></script>

</html>
